.tutorial__list {
    margin: 2rem 0 2rem 0.6rem;
    counter-reset: step;
    @include from-big-tablet {
        display: flex;
        justify-content: space-around;
    }
    .tutorial__step {
        margin-bottom: 26px;
        background-color: $light-grey;
        padding: 28px 0;
        border-radius: 25px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
        font-size: 1.1rem;
        counter-increment: step;
        @include from-big-tablet {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &:before {
            content: counter(step);
            background-color: #9356DC;
            color: white;
            border-radius: 100%;
            font-size: 80%;
            padding: 4px 8px;
            margin-left: -10px;
            @include from-big-tablet {
                margin-left: 0;
                margin-top: -40px;
            }
        }
        &--active {
            background-color: lighten($primary, 35%);
        }
        i {
            color: #7E7E7E;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 22px;
            @include from-big-tablet {
                margin-top: 25px;
                margin-bottom: 10px;
            }
        }
        .i--active {
            color: $primary;
        }
    }
}


