.menu__card {
    @include border-radius;
    @include box-shadow;
    @include card-content-padding;
    margin-bottom: 15px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    .menu__info {
        flex: 1;
        overflow: hidden; 
        .menu__main {
            @include trim-text;
            display: block;
        }
        .menu__description {
            @include text-padding-top;
            @include trim-text;
            font-size: 0.95rem;
        }
    }
    .menu__price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 0.95rem;
        font-weight: $medium;
        padding-left: 1.4rem;
    }
  
    .menu__selection {
        margin: -1rem -5.4rem -1rem 1.2rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary;
        transition-duration: 500ms;
    }

    &:hover .menu__selection {
    margin-right: -1.4rem;
    }

    .menu__tick {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0.26rem 0.25rem 0.25rem 0.25rem;
    border-radius: 100px;
    }
    
    .menu__tick--icon {
    color: $tertiary;
    font-size: 0.8rem;
    }
}


