.menu__card {
    @include border-radius;
    @include box-shadow;
    @include card-content-padding;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
    // display: flex;
    .menu__content {
        span {
            display: block;
            width: 90%;
            @include from-big-tablet {
                width: 100%;
                text-align: center;
            }
        }
        span, .menu__description {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }
        .menu__info {
            @include text-padding-top;
            display: flex;
            justify-content: space-between;
            font-size: 0.95rem;
            .menu__description {
                width: 80%;
                @include from-big-tablet {
                    width: 100%;
                    padding-bottom: 5px;
                }
            }
            .menu__price {
                font-weight: $medium;
            }
            @include from-big-tablet {
                @include text-center;
                flex-direction: column;
            }
        }
    }
    .menu__selection {
        display: none;
        // margin: -1rem -5rem -1rem 1rem;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: $tertiary;
        // width: 2rem;
        // border-top-right-radius: 15px;
        // border-bottom-right-radius: 15px;
        // .menu__tick{
        //     display: flex;
        //     justify-content: center;
        //     background-color: white;
        //     padding: 0.25rem;
        //     border-radius: 50%;
        //     .fa-check {
        //         color: $tertiary;
        //         font-size: 0.8rem;
        //     }
        // }
    } 
    &:hover {
        .menu__selection {
            // margin-right: -2rem;
        }
    }
}